/* Resetting default styles and setting font family */
body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: scroll;
    padding-right: 0;
  }
  
  /* Removing outline from input and textarea elements */
  input,
  textarea {
    outline: none;
  }
  
  /* Styling for buttons */
  button {
    outline-color: #896a13;
    border: 0;
  }
  
  /* Code block font family */
  code {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  /* Styling for unordered list */
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0 20px;
    width: 100%;
    max-width: 631px;
  }
  
  /* Media queries for smaller screen sizes */
  @media screen and (max-width: 671px) {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0 20px;
      width: 100%;
      max-width: 93vw;
    }
  }
  
  @media screen and (max-width: 550px) {
    ul {
      max-width: 93vw;
    }
  }
  
  @media screen and (max-width: 530px) {
    ul {
      max-width: 92vw;
    }
  }
  
  @media screen and (max-width: 510px) {
    ul {
      max-width: 92vw;
    }
  }
  
  @media screen and (max-width: 450px) {
    ul {
      max-width: 91vw;
    }
  }
  
  @media screen and (max-width: 400px) {
    ul {
      max-width: 90vw;
    }
  }
  
  @media screen and (max-width: 380px) {
    ul {
      max-width: 89vw;
    }
  }
  
  @media screen and (max-width: 280px) {
    ul {
      max-width: 80vw;
    }
  }
  
  /* Styling for a fading element */
  .fade {
    display: block;
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #395dd1;
    color: #fff;
    padding: 12px;
    width: auto;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 0;
    margin: 8px;
    display: block;
    border-radius: 5px;
    outline: linen;
  }
  
  /* Styling for list items */
  li {
    border: 1px solid #0000005c;
    border-radius: 14px;
    margin: 20px 0;
  }
  
  /* Styling for the main heading */
  h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #7695ec;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #fff;
    padding: 24px 30px;
    font-size: 1.2rem;
    font-weight: 500;
  }
  
  /* Body background and centering */
  body {
    background-color: #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Styling for the root element */
  #root {
    width: 671px;
    height: 100%;
    background-color: #fff;
    min-height: 100vh;
  }
  
  /* Styling for forms */
  form {
    border: 1px solid #0000005c;
    border-radius: 14px;
    margin: 20px 20px 0 20px;
    padding: 17px 0;
  }
  
  /* Styling for secondary headings */
  h2 {
    margin: 0;
    padding: 0 20px 17px 20px;
    font-size: 1.2rem;
    font-weight: 700;
  }
  
  /* Styling for the container title */
  .container_titulo {
    margin: 0;
    padding: 15px 20px;
    font-size: 1.1rem;
    font-weight: 700;
    background-color: #7695ec;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 28px;
  }
  
  /* Styling for containers */
  .container {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
  }
  
  /* Styling for the edit button */
  .edit {
    cursor: pointer;
    max-width: 20px;
    width: 100%;
    transition: all .2s;
  }
  
  /* Styling for labels and their paragraphs */
  label p {
    margin: 0 0 7px 0;
    font-size: 0.9rem;
    font-weight: 500;
    color: black;
  }
  
  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 17px;
    font-size: 0.9rem;
    font-weight: 500;
    color: #141414;
  }
  
  /* Styling for the title input field */
  .titulo {
    background-color: #7695ec;
    border-radius: 12px;
    color: #fff;
    border-end-start-radius: 0;
    border-end-end-radius: 0;
  }
  
  /* Styling for the title input placeholder */
  .input-title::placeholder {
    color: #d7d7d7;
    font-size: 0.8rem;
  }
  
  /* Styling for the title input field */
  .input-title {
    border: 1px solid #0000005c;
    border-radius: 5px;
    padding: 5px 7px;
  }
  
  /* Styling for the comment input placeholder */
  .comentario::placeholder {
    color: #d7d7d7;
    font-size: 0.8rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  /* Styling for the comment input field */
  .comentario {
    border: 1px solid #0000005c;
    padding: 3px 7px 0;
    height: 15px;
    resize: none;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom: 0;
  }
  
  /* Styling for the secondary comment input placeholder */
  .comentario1::placeholder {
    color: #d7d7d7;
    font-size: 0.8rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  /* Styling for the secondary comment input field */
  .comentario1 {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 1px solid #0000005c;
    border-top: 0;
    padding: 0 7px 3px;
    resize: none;
    overflow: hidden;
    word-wrap: break-word;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  /* Styling for the publish button */
  .btn_publish button:hover {
    background-color: #5e7de3;
    transition: all .2s;
  }
  
  .btn_publish button {
    transition: all .2s;
    border: 0;
    border-radius: 6px;
    padding: 6px 30px;
    color: #fff;
    background-color: #7695ec;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.8rem;
  }
  
  /* Styling for general buttons */
  .btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: space-evenly;
    justify-items: center;
    width: 70px;
  }
  
  /* Styling for the publish button container */
  .btn_publish {
    display: flex;
    flex-direction: row-reverse
  }
  
  /* Styling for the aside section */
  aside div p:nth-child(1) {
    color: #959595;
    font-weight: 700;
    font-size: 0.9rem;
    word-wrap: break-word;
  }
  
  aside div p:nth-child(2) {
    color: #959595;
    font-weight: 500;
    font-size: 1rem;
  }
  
  aside div p {
    margin: 0;
    padding: 20px 0;
  }
  
  aside div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    word-wrap: break-word;
  }
  
  aside p {
    margin: 0 0px 15px;
    word-wrap: break-word;
  }
  
  aside {
    padding: 0 20px;
  }
  
  /* Styling for the author section */
  .autor {
    margin: 0;
  }
  
  /* Styling for secondary headings */
  h3 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 300;
  }
  
  /* Styling for the delete button */
  .bin_del {
    max-width: 15px;
    width: 100%;
    cursor: pointer;
    transition: all .2s;
  }
  
  /* Styling for the edit bin button */
  .btn_bin_edit1 {
    padding: 3px;
    background-color: rgba(255, 0, 0, 0);
  }
  
  .btn_bin_edit1 {
    background-color: rgba(255, 0, 0, 0);
    padding: 0;
    cursor: pointer;
  }
  
  .btn_bin_edit1:hover {
    background: #ffffff33;
    width: 40px;
    height: 40px;
    inset: 0 0 0 -13px;
    position: relative;
    z-index: 22;
    border-radius: 50px;
  }
  
  /* Styling for the delete bin button */
  .btn_bin_edit2 {
    background-color: rgba(255, 0, 0, 0);
    padding: 0;
    cursor: pointer;
  }
  
  .btn_bin_edit2:hover {
    background: #ffffff33;
    width: 40px;
    height: 40px;
    inset: 0 0 0 10px;
    position: relative;
    z-index: 22;
    border-radius: 50px;
  }
  
  /* Styling for the modal */
  .modal {
    position: fixed;
    z-index: 10000000000000000;
    background-color: #395dd1;
    border-radius: 10px;
    color: #fff;
    padding: 15px;
    margin: auto;
    width: 100px;
    height: 20px;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  /* Styling for the modal close button */
  .close_modal {
    background-color: #00000000;
    border: none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    top: 5px;
    right: 5px;
  }
  
  .close_modal:hover {
    opacity: 0.7;
    transition: all .2s;
  }
  
  /* Styling for the modal form */
  .modal form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* Styling for the modal buttons */
  .modal_buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
  }
  
  /* Styling for the modal delete button */
  .modal_buttons .modal_button_delete {
    background-color: #ff0000;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Styling for the modal cancel button */
  .modal_buttons .modal_button_cancel {
    background-color: #fff;
    color: #000;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Styling for the modal delete button on hover */
  .modal_buttons .modal_button_delete:hover {
    background-color: #c50000;
    transition: all .2s;
  }
  
  /* Styling for the modal cancel button on hover */
  .modal_buttons .modal_button_cancel:hover {
    background-color: #eaeaea;
    transition: all .2s;
  }
  
  /* Styling for the edit modal */
  .edit_modal {
    position: fixed;
    z-index: 10000000000000000;
    background-color: #395dd1;
    border-radius: 10px;
    color: #fff;
    padding: 15px;
    width: auto;
    height: auto;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  /* Styling for the edit modal close button */
  .close_modal_edit {
    background-color: #00000000;
    border: none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    top: 5px;
    right: 5px;
  }
  
  .close_modal_edit:hover {
    opacity: 0.7;
    transition: all .2s;
  }
  
  /* Styling for the edit modal form */
  .edit_modal form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* Styling for the edit modal buttons */
  .edit_modal_buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
  }
  
  /* Styling for the edit modal save button */
  .edit_modal_buttons .edit_modal_button_save {
    background-color: #009900;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Styling for the edit modal cancel button */
  .edit_modal_buttons .edit_modal_button_cancel {
    background-color: #fff;
    color: #000;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Styling for the edit modal save button on hover */
  .edit_modal_buttons .edit_modal_button_save:hover {
    background-color: #007700;
    transition: all .2s;
  }
  
  /* Styling for the edit modal cancel button on hover */
  .edit_modal_buttons .edit_modal_button_cancel:hover {
    background-color: #eaeaea;
    transition: all .2s;
  }
  
  /* Styling for the comments section */
  .comentarios {
    margin-top: 15px;
    border-top: 1px solid #0000005c;
    padding: 15px 20px;
  }
  
  /* Styling for the comments heading */
  .comentarios h2 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  /* Styling for the comment container */
  .comment_container {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #0000005c;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  
  /* Styling for the comment header */
  .comment_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
  }
  
  /* Styling for the comment author */
  .comment_author {
    font-size: 0.9rem;
    font-weight: 700;
  }
  
  /* Styling for the comment timestamp */
  .comment_timestamp {
    font-size: 0.8rem;
    color: #959595;
  }
  
  /* Styling for the comment text */
  .comment_text {
    font-size: 0.9rem;
    margin-bottom: 5px;
  }
  
  /* Styling for the comment actions */
  .comment_actions {
    display: flex;
    gap: 10px;
  }
  
  /* Styling for the edit comment button */
  .edit_comment {
    color: #959595;
    cursor: pointer;
  }
  
  /* Styling for the delete comment button */
  .delete_comment {
    color: #ff0000;
    cursor: pointer;
  }
  
  /* Styling for the no comments message */
  .no_comments {
    font-size: 0.9rem;
    font-style: italic;
    color: #959595;
    margin-top: 10px;
  }
  
  /* Styling for the comment input container */
  .comment_input_container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  /* Styling for the comment input field */
  .comment_input {
    border: 1px solid #0000005c;
    padding: 5px 7px;
    font-size: 0.9rem;
  }
  
  /* Styling for the comment input button */
  .comment_button {
    margin-top: 10px;
    align-self: flex-start;
    padding: 6px 10px;
    background-color: #7695ec;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 600;
  }
  
  /* Styling for the comment input button on hover */
  .comment_button:hover {
    background-color: #5e7de3;
    transition: all .2s;
  }
  
  /* Styling for the error message */
  .error_message {
    color: #ff0000;
    font-size: 0.8rem;
    margin-top: 5px;
  }
  